@media(max-width:1150px) {
    .logo {
        display: flex;
        justify-content: center;
    }

    .menu {
        flex-direction: column;
        justify-content: center;
        width: 100%;
    }

    .headerMenu ul {
        justify-content: center;
        padding: 0;
    }

    .headerMenu a {
        padding: 28px 25px;
    }

    .gallery {
        justify-content: space-around;
    }

    .links,
    .send {
        width: 50%;
        margin-bottom: 60px;
    }

    .favorableImg {
        display: flex;
        flex-direction: column;
        padding-bottom: 30px;
    }

    .favorableImgBlock {
        width: 100%;
    }

    .favorableImgBlock h3 {
        margin: 0 10px 0 25px;
    }

    .favorableImgBlock p {
        margin: 0 10px 0 25px;
    }

}


@media(max-width:950px) {

    .service,
    .carousel {
        width: 100%;
    }

    .carousel {
        height: 400px;
    }

    .slide {
        flex-direction: column;
    }

    .discription {
        flex-direction: column;
        width: 100%;
    }

    .discription p {
        width: 100%;
    }

    .carouselSlide img {
        height: auto;
    }

    .footMenu ul {
        padding: 0 0 0 10px;
    }
}


@media(max-width:800px) {
    .logo ul {
        padding-left: 5px;
    }

    .head {
        display: flex;
        justify-content: space-between;
    }

    .mini-menu {
        display: block;
    }

    .headerMenu ul {
        position: fixed;
        flex-direction: column;
        justify-content: center;
        top: 0;
        left: 0;
        width: 100vw;
        height: 100vh;
        background-color: var(--colorButton);
        transform: translateX(-100%);
        transition: .5s;
    }

    .headerMenu ul.active {
        transform: translateX(0);
    }

    .headerMenu a {
        padding: 30px 0;
        text-align: center;
        color: #fff;
    }

    .headerMenu a:hover {
        background-color: rgb(19, 150, 41);
    }

    .back {
        display: block;
    }

    .contact {
        display: flex;
        flex-direction: column;
    }

    .links,
    .send {
        width: 100%;
        margin-bottom: 60px;
    }

    .send form input,
    .send textarea {
        width: 100%;
    }
}

@media(max-width: 600px) {

    .favorableImgBlock {
        flex-direction: column;
    }

    .favorableImgBlock img {
        display: block;
        margin: 0 0 25px 10px;
    }

    .favorableImgBlock h3 {
        margin: 0 0 25px 10px;
    }

    .favorableImgBlock p {
        margin: 0 10px 0 10px;
    }
}